body {
  font-family: "Be Vietnam Pro Regular", sans-serif;
  background: #F5821F;
}
@media (min-width: 960px) {
  body {
    background: #FAFAFA;
  }
}

#app {
  background: #FFFFFF;
}

/**
 * --------------------------------------------------------------------
 * Be_Vietnam_Pro
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Be Vietnam Pro Bold";
  font-display: swap;
  src: local("Be Vietnam Pro Bold"), url("fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro ExtraBold";
  font-display: swap;
  src: local("Be Vietnam Pro ExtraBold"), url("fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro SemiBold";
  font-display: swap;
  src: local("Be Vietnam Pro SemiBold"), url("fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro Regular";
  font-display: swap;
  src: local("Be Vietnam Pro Regular"), url("fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Arial Regular";
  font-display: swap;
  src: local("Arial Regular"), url("fonts/Arial/arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Verdana
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Verdana Regular";
  font-display: swap;
  src: local("Verdana Regular"), url("fonts/Fonts/Verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Bold";
  font-display: swap;
  src: local("Verdana Bold"), url("fonts/Fonts/Verdana-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Roboto Regular";
  font-display: swap;
  src: local("Roboto Regular"), url("fonts/Fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Black";
  font-display: swap;
  src: local("Roboto Black"), url("fonts/Fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold Italic";
  font-display: swap;
  src: local("Roboto Bold Italic"), url("fonts/Fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  font-display: swap;
  src: local("Roboto Bold"), url("fonts/Fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  font-display: swap;
  src: local("Roboto Medium"), url("fonts/Fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light Italic";
  font-display: swap;
  src: local("Roboto Light Italic"), url("fonts/Fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.fz-14 {
  font-size: 10.1111111111px !important;
}
@media screen and (min-width: 640px) {
  .fz-14 {
    font-size: calc(10.1111111111px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-14 {
    font-size: 10.1111111111px !important;
  }
}

.fz-15 {
  font-size: 10.8333333333px !important;
}
@media screen and (min-width: 640px) {
  .fz-15 {
    font-size: calc(10.8333333333px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-15 {
    font-size: 10.8333333333px !important;
  }
}

.fz-16, .header__bottom__btn, .header__top__langSwitch__txt {
  font-size: 11.5555555556px !important;
}
@media screen and (min-width: 640px) {
  .fz-16, .header__bottom__btn, .header__top__langSwitch__txt {
    font-size: calc(11.5555555556px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-16, .header__bottom__btn, .header__top__langSwitch__txt {
    font-size: 11.5555555556px !important;
  }
}

.fz-18, .header__bottom .uk-navbar-nav > li > a, .header__bottom__formSearch__input, .header__top .uk-navbar-nav > li > a {
  font-size: 13px !important;
}
@media screen and (min-width: 640px) {
  .fz-18, .header__bottom .uk-navbar-nav > li > a, .header__bottom__formSearch__input, .header__top .uk-navbar-nav > li > a {
    font-size: calc(13px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-18, .header__bottom .uk-navbar-nav > li > a, .header__bottom__formSearch__input, .header__top .uk-navbar-nav > li > a {
    font-size: 13px !important;
  }
}

.fz-20, .header__top .uk-search-input {
  font-size: 14.4444444444px !important;
}
@media screen and (min-width: 640px) {
  .fz-20, .header__top .uk-search-input {
    font-size: calc(14.4444444444px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-20, .header__top .uk-search-input {
    font-size: 14.4444444444px !important;
  }
}

.fz-24 {
  font-size: 13.8666666667px !important;
}
@media screen and (min-width: 640px) {
  .fz-24 {
    font-size: calc(13.8666666667px + 3.4666666667 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-24 {
    font-size: 17.3333333333px !important;
  }
}

.fz-30 {
  font-size: 17.3333333333px !important;
}
@media screen and (min-width: 640px) {
  .fz-30 {
    font-size: calc(17.3333333333px + 4.3333333333 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-30 {
    font-size: 21.6666666667px !important;
  }
}

.fz-36 {
  font-size: 20.8px !important;
}
@media screen and (min-width: 640px) {
  .fz-36 {
    font-size: calc(20.8px + 5.2 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-36 {
    font-size: 26px !important;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__15:nth-child(n+2) {
  margin-top: 15px;
}
.item__10:nth-child(n+2) {
  margin-top: 10px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}

.header {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.header__top {
  background: #F2F2F2;
}
.header__top__navItem, .header__top .uk-navbar-toggle,
.header__top .uk-navbar-item, .header__top .uk-navbar-nav > li > a {
  min-height: 40px;
}
@media (min-width: 960px) {
  .header__top__navItem, .header__top .uk-navbar-toggle,
.header__top .uk-navbar-item, .header__top .uk-navbar-nav > li > a {
    min-height: 65px;
  }
}
.header__top .uk-navbar-nav > li > a {
  color: #038C4B;
  font-family: "Be Vietnam Pro Bold", sans-serif;
  text-transform: inherit;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 32px;
}
.header__top .uk-navbar-nav > li.phone > * {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.49801 3.84302C8.67647 3.84302 8.85168 3.89078 9.00545 3.98134C9.15922 4.0719 9.28596 4.20195 9.37251 4.35802L10.5955 6.56102C10.6744 6.70312 10.7174 6.86231 10.7209 7.02479C10.7244 7.18728 10.6882 7.34816 10.6155 7.49352L9.43751 9.85052C9.43751 9.85052 9.77901 11.606 11.208 13.0355C12.6375 14.4645 14.387 14.8005 14.387 14.8005L16.7435 13.622C16.8889 13.5492 17.0499 13.513 17.2125 13.5165C17.3751 13.52 17.5343 13.5631 17.6765 13.642L19.8865 14.871C20.0422 14.9577 20.1719 15.0845 20.2622 15.2381C20.3525 15.3918 20.4001 15.5668 20.4 15.745V18.2815C20.4 19.5735 19.2 20.5065 17.976 20.0935C15.462 19.245 11.5595 17.63 9.08601 15.1565C6.61301 12.683 4.99751 8.78102 4.14951 6.26652C3.73651 5.04302 4.66951 3.84302 5.96151 3.84302H8.49751H8.49801Z' stroke='%23038C4B' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.header__top .uk-navbar-nav > li.email > * {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 9H16M7 13H16M7 17H12M22 12C22 17.523 17.523 22 12 22H2V12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12Z' stroke='%23038C4B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.header__top .uk-navbar-right > *:nth-child(n+2) {
  position: relative;
}
.header__top .uk-navbar-right > *:nth-child(n+2):before {
  content: "";
  position: absolute;
  height: 18px;
  border-left: 1px solid #4F4F4F;
  display: flex;
  left: calc((0px - 30px) / 2);
  top: 50%;
  transform: translateY(-50%);
}
.header__top__iconSearch {
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 19C15.1945 19 19 15.1945 19 10.5C19 5.8055 15.1945 2 10.5 2C5.8055 2 2 5.8055 2 10.5C2 15.1945 5.8055 19 10.5 19Z' stroke='%234F4F4F' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M13.3285 7.1715C12.9575 6.79952 12.5166 6.50453 12.0312 6.30348C11.5458 6.10244 11.0254 5.9993 10.5 6C9.97461 5.9993 9.45426 6.10244 8.96885 6.30348C8.48344 6.50453 8.04255 6.79952 7.67151 7.1715M16.611 16.611L20.8535 20.8535' stroke='%234F4F4F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.header__top__iconSearch svg {
  visibility: hidden;
}
.header__top__iconSocial {
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}
.header__top__iconSocial--telegram {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.71 3.65451C20.71 3.65451 22.6525 2.89701 22.49 4.73651C22.4365 5.49401 21.951 8.14551 21.573 11.013L20.278 19.508C20.278 19.508 20.17 20.7525 19.1985 20.969C18.2275 21.185 16.7705 20.2115 16.5005 19.995C16.2845 19.8325 12.4535 17.3975 11.1045 16.2075C10.7265 15.8825 10.2945 15.2335 11.1585 14.476L16.824 9.06501C17.4715 8.41601 18.119 6.90101 15.421 8.74051L7.86598 13.8805C7.86598 13.8805 7.00248 14.422 5.38398 13.935L1.87598 12.8525C1.87598 12.8525 0.580976 12.041 2.79348 11.2295C8.18998 8.68651 14.8275 6.08951 20.709 3.65451H20.71Z' fill='%234F4F4F'/%3E%3C/svg%3E%0A");
}
.header__top__iconSocial--fb {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6.3H14.9935C14.4505 6.3 14.01 6.74 14.01 7.2835V10.7335H18L17.4155 14.532H14.0105V21.5H9.6225V14.532H6V10.7335H9.5755L9.6225 7.1285L9.616 6.4735C9.61078 5.95361 9.70867 5.43784 9.904 4.95601C10.0993 4.47418 10.3882 4.03584 10.754 3.66635C11.1198 3.29686 11.5552 3.00353 12.035 2.80334C12.5148 2.60314 13.0296 2.50004 13.5495 2.5H18V6.3Z' stroke='%234F4F4F' stroke-width='1.9' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.header__top__iconSocial--dribbble {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 12C22.0017 13.3172 21.7424 14.6216 21.237 15.8379C20.7316 17.0543 19.9901 18.1584 19.0555 19.0865C18.1285 20.0118 17.0283 20.7454 15.8177 21.2454C14.6071 21.7453 13.3098 22.0017 12 22C6.47701 22 2.00001 17.523 2.00001 12C1.99651 9.43589 2.98144 6.96909 4.75001 5.11251C5.68318 4.12781 6.80747 3.34388 8.05407 2.8087C9.30068 2.27352 10.6434 1.99834 12 2.00001C13.3098 1.99831 14.6071 2.25475 15.8177 2.75466C17.0283 3.25458 18.1285 3.98817 19.0555 4.91351C19.9901 5.84162 20.7316 6.94575 21.237 8.16208C21.7424 9.37842 22.0017 10.6829 22 12V12Z' stroke='%234F4F4F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 12C20.541 12 16.516 11.45 12.9135 13.0315C9.00002 14.75 6.16652 17.4155 4.93152 19.0735' stroke='%234F4F4F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.25 2.72705C9.815 4.17155 13.23 7.84905 14.5 11.5001C15.77 15.1511 16.24 19.6401 16.53 20.9176' stroke='%234F4F4F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.07703 10.7501C3.96603 10.8641 8.96653 10.9666 12.1665 9.60011C15.3665 8.23361 18.12 5.72011 19.0645 4.92261M2.75003 15.8066C3.63118 17.9396 5.22038 19.7037 7.25003 20.8021' stroke='%234F4F4F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.00001 12C1.99651 9.43589 2.98144 6.96909 4.75001 5.11251M12 2.00001C10.6434 1.99834 9.30068 2.27352 8.05407 2.8087C6.80747 3.34388 5.68318 4.12781 4.75001 5.11251M16 2.83201C17.1388 3.33028 18.175 4.03613 19.0555 4.91351C19.9901 5.84162 20.7316 6.94574 21.237 8.16208C21.7424 9.37842 22.0017 10.6829 22 12C22 13.231 21.7775 14.4105 21.37 15.5M12 22C13.3098 22.0017 14.6071 21.7453 15.8177 21.2454C17.0283 20.7454 18.1285 20.0118 19.0555 19.0865' stroke='%234F4F4F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.header__top__iconSocial--instagram {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 3H7C5.93913 3 4.92172 3.42143 4.17157 4.17157C3.42143 4.92172 3 5.93913 3 7V17C3 18.0609 3.42143 19.0783 4.17157 19.8284C4.92172 20.5786 5.93913 21 7 21H17C18.0609 21 19.0783 20.5786 19.8284 19.8284C20.5786 19.0783 21 18.0609 21 17V7C21 5.93913 20.5786 4.92172 19.8284 4.17157C19.0783 3.42143 18.0609 3 17 3Z' stroke='%234F4F4F' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M12 16C13.0609 16 14.0783 15.5786 14.8284 14.8284C15.5786 14.0783 16 13.0609 16 12C16 10.9391 15.5786 9.92172 14.8284 9.17157C14.0783 8.42143 13.0609 8 12 8C10.9391 8 9.92172 8.42143 9.17157 9.17157C8.42143 9.92172 8 10.9391 8 12C8 13.0609 8.42143 14.0783 9.17157 14.8284C9.92172 15.5786 10.9391 16 12 16V16Z' stroke='%234F4F4F' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M17.5 7.5C17.7652 7.5 18.0196 7.39464 18.2071 7.20711C18.3946 7.01957 18.5 6.76522 18.5 6.5C18.5 6.23478 18.3946 5.98043 18.2071 5.79289C18.0196 5.60536 17.7652 5.5 17.5 5.5C17.2348 5.5 16.9804 5.60536 16.7929 5.79289C16.6054 5.98043 16.5 6.23478 16.5 6.5C16.5 6.76522 16.6054 7.01957 16.7929 7.20711C16.9804 7.39464 17.2348 7.5 17.5 7.5Z' fill='%234F4F4F'/%3E%3C/svg%3E%0A");
}
.header__top__iconSocial--twitter {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 17.8809C3.4645 18.4144 10.4455 22.4384 15.41 19.3369C20.374 16.2354 20.1 10.8919 20.1 8.44293C20.55 7.50093 21.5 7.02193 21.5 4.47193C20.567 5.33393 19.6395 5.62693 18.7175 5.35193C17.8145 3.97493 16.572 3.36543 14.9895 3.52443C12.6165 3.76293 11.7485 6.09093 12.004 9.10343C8.345 10.9534 5.476 7.76193 3.997 5.35193C3.503 7.24993 3.027 9.52893 3.997 12.0494C4.644 13.7304 6.1995 15.1509 8.6625 16.3124C6.166 17.6649 4.112 18.1884 2.5 17.8809Z' stroke='%234F4F4F' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.header__top__iconSocial svg {
  visibility: hidden;
}
.header__top__langSwitch {
  background: linear-gradient(#C9C92D, #0E6F41);
  padding: 1px;
}
.header__top__langSwitch__box {
  background: #F2F2F2;
}
.header__top__langSwitch__radio {
  display: none;
}
.header__top__langSwitch__txt {
  font-family: "Be Vietnam Pro Bold", sans-serif;
  cursor: pointer;
  padding-right: 13px;
  padding-left: 53px;
  background-repeat: no-repeat;
  background-position: center left 18px;
  height: 38px;
  display: flex;
  align-items: center;
  color: #333333;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7);
}
.header__top__langSwitch__radio:checked + .header__top__langSwitch__txt {
  background-color: #FFFFFF;
  box-shadow: 0px 4.46655px 26.7993px rgba(118, 81, 13, 0.12);
}
.header__top__langSwitch__txt--en {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4844 0.515625C8.07187 0.515625 5.01094 2.00156 2.90625 4.36406L4.11094 20.8078C6.10781 22.4766 8.67656 23.4844 11.4844 23.4844C17.8266 23.4844 22.9688 18.3422 22.9688 12C22.9688 5.65781 17.8266 0.515625 11.4844 0.515625Z' fill='white'/%3E%3Cpath d='M23.564 4.4436C21.5156 4.29829 21.3702 3.15454 19.0499 3.15454C16.589 3.15454 16.5749 4.4436 14.1421 4.45767C11.6296 4.47173 11.6437 3.15454 9.15462 3.15454C6.90462 3.15454 6.70306 4.23267 4.82337 4.42954C4.2515 4.49048 3.54369 4.47173 2.94837 4.31704C1.24212 6.21079 0.15931 8.67642 0.0139975 11.3952C0.0139975 11.4186 0.0139975 11.4045 0.00931002 11.503C-0.0516275 12.9092 0.14056 14.2874 0.576498 15.6045C0.576498 15.6092 0.613998 15.717 0.618685 15.7264C1.31244 17.7467 2.54994 19.5139 4.16244 20.8499C4.32181 20.8499 4.47181 20.8452 4.64993 20.8358C6.69368 20.6905 6.839 19.5467 9.15931 19.5467C11.714 19.5467 11.6437 20.9342 14.3249 20.8499C16.5796 20.7749 16.6546 19.5514 19.0546 19.5514C21.3468 19.5514 21.5156 20.6717 23.4937 20.8358C23.7702 20.8592 24.0046 20.6389 24.0046 20.367C24.0046 18.3327 24.0046 6.30923 24.0046 4.92642C23.9999 4.6686 23.8124 4.45767 23.564 4.4436Z' fill='%23295781'/%3E%3Cpath d='M7.93587 17.3295V5.65767C7.93587 4.42954 8.84525 3.40298 10.0218 3.21548C9.76868 3.17798 9.48743 3.15454 9.15931 3.15454C6.90931 3.15454 6.70775 4.23267 4.82806 4.42954C4.25619 4.49048 3.54837 4.47173 2.95306 4.31704C1.24212 6.21079 0.15931 8.67642 0.0139975 11.3952C0.0139975 11.4186 0.0139975 11.4045 0.00931002 11.503C-0.0516275 12.9092 0.14056 14.2874 0.576498 15.6045C0.576498 15.6092 0.613998 15.717 0.618685 15.7264C1.31244 17.7467 2.54994 19.5139 4.16244 20.8499C4.32181 20.8499 4.47181 20.8452 4.64993 20.8358C6.69368 20.6905 6.839 19.5467 9.15931 19.5467C9.21556 19.5467 9.26712 19.5467 9.31868 19.5467C8.49837 19.1389 7.93587 18.2952 7.93587 17.3295Z' fill='%231B3D6E'/%3E%3Cpath d='M25.8891 10.439V13.5C25.6687 13.4296 25.4437 13.3687 25.2234 13.3078C24.8953 13.2187 24.5766 13.1437 24.2531 13.0828C24.0234 13.0312 23.7984 12.989 23.5734 12.9609C23.3484 12.9187 23.1234 12.8906 22.8984 12.8671C22.6031 12.825 22.3031 12.8015 22.0031 12.7781C21.9141 12.7687 21.825 12.764 21.7359 12.764C21.675 12.7593 21.6094 12.7593 21.5438 12.7546C21.5109 12.7546 21.4828 12.75 21.4453 12.75C21.3516 12.7453 21.2578 12.7406 21.1594 12.7406C20.9484 12.7359 20.7422 12.7359 20.5359 12.7359C20.3813 12.7359 20.2266 12.7359 20.0719 12.7406C19.95 12.7406 19.8328 12.7453 19.7109 12.75H19.6734C19.6078 12.75 19.5375 12.7546 19.4672 12.7593C19.2562 12.764 19.05 12.7734 18.8391 12.7968C18.7875 12.7968 18.7406 12.7968 18.6891 12.8062C18.5156 12.8156 18.3422 12.8296 18.1641 12.8484C18.0141 12.8625 17.8687 12.8718 17.7188 12.8953C17.5219 12.9093 17.3203 12.9328 17.1234 12.9609C16.7578 13.0031 16.3828 13.0546 16.0172 13.1109C15.7734 13.1437 15.5203 13.1812 15.2766 13.2234H15.2625C14.8875 13.2796 14.5125 13.3406 14.1375 13.4062V21.1687L13.6266 21.2625C12.9469 21.3796 11.8687 20.9578 11.1891 21.075L11.0719 20.0765V13.9453C10.6969 14.0109 10.3219 14.0718 9.94687 14.1281C8.75625 14.3156 7.56563 14.475 6.375 14.55C3.99844 14.7656 1.60781 14.5265 -0.679688 13.8468V10.7812C1.60313 11.4609 3.99375 11.7 6.36563 11.4843C7.56094 11.4093 8.75156 11.25 9.94687 11.0625C10.3219 11.0062 10.6969 10.9453 11.0719 10.8796L10.9312 2.95776L11.6672 3.60933C12.3469 3.49214 12.9516 4.42026 13.6312 4.30308L14.1422 4.20933V10.3406C14.5172 10.275 14.8922 10.214 15.2672 10.1578C15.2672 10.1531 15.2719 10.1531 15.2766 10.1531L15.2812 10.1578C15.5672 10.1062 15.8531 10.064 16.1391 10.0265C16.4391 9.98433 16.7437 9.94683 17.0438 9.90933H17.0484H17.0531C17.6437 9.83901 18.2391 9.77808 18.8344 9.73589C18.9844 9.72651 19.125 9.71714 19.2703 9.71245C19.4109 9.69839 19.5562 9.68901 19.7016 9.6937C19.7062 9.68901 19.7062 9.68901 19.7109 9.6937C19.7812 9.68901 19.8609 9.68901 19.9313 9.68901C20.2922 9.67495 20.6578 9.67495 21.0187 9.68433H21.1547C21.2297 9.68433 21.3047 9.68901 21.3797 9.6937C21.4969 9.6937 21.6141 9.69839 21.7313 9.70776C21.9234 9.71714 22.1203 9.7312 22.3125 9.74995C22.5047 9.76401 22.7016 9.78745 22.8937 9.81089C23.0859 9.83433 23.2828 9.85776 23.475 9.88589C23.6484 9.90933 23.8219 9.93745 23.9953 9.97495C24.075 9.98901 24.1641 10.0078 24.2484 10.0265C24.375 10.05 24.5109 10.0781 24.6375 10.1062C24.8297 10.1484 25.0266 10.2 25.2188 10.2468C25.4438 10.3031 25.6687 10.364 25.8891 10.439Z' fill='%23E6E7E7'/%3E%3Cpath d='M25.889 10.9687V12.9374L25.3781 12.8249L25.364 12.8203C24.9844 12.7171 24.6609 12.6421 24.3515 12.5859C24.1219 12.5343 23.8828 12.4874 23.6437 12.4593C23.4281 12.4171 23.189 12.389 22.95 12.3609C22.664 12.3234 22.3547 12.2953 22.0453 12.2718C21.9468 12.2624 21.8437 12.2578 21.7453 12.2578L21.5859 12.2484C21.5203 12.2437 21.4875 12.2437 21.4547 12.2437C21.3844 12.239 21.2765 12.2343 21.1687 12.2343C20.9719 12.2296 20.7562 12.2296 20.5453 12.2296C20.3859 12.2296 20.2219 12.2296 20.0672 12.2343H20.0578C19.9547 12.2343 19.8422 12.239 19.725 12.2437C19.6078 12.2484 19.5187 12.2484 19.4437 12.2531C19.2469 12.2578 19.0265 12.2671 18.8015 12.2906H18.7781C18.7312 12.2906 18.689 12.2953 18.6469 12.3046C18.4969 12.3093 18.3515 12.3234 18.2015 12.3374L17.9812 12.3562C17.8734 12.3656 17.7703 12.3749 17.6625 12.3937C17.4844 12.4031 17.2687 12.4312 17.0578 12.4593C16.7062 12.5015 16.3218 12.5531 15.9515 12.6093C15.7219 12.6421 15.4781 12.6749 15.2344 12.7171L15.1922 12.7218C14.8125 12.7781 14.4328 12.839 14.0531 12.9093L13.6359 12.9796V21.2624C12.9562 21.3796 12.2578 20.5593 11.5781 20.6765L11.5922 13.3406L10.9875 13.4484C10.6219 13.5093 10.2469 13.5703 9.88123 13.6265C8.49373 13.8468 7.36873 13.9781 6.35623 14.0437C5.7656 14.0859 5.18435 14.1046 4.64529 14.1046C3.02341 14.1234 1.40623 13.9078 -0.154712 13.4718L-0.665649 13.3171V11.2968L-0.154712 11.4656C1.41091 11.8781 3.01873 12.0796 4.63591 12.0609C5.2031 12.0609 5.79841 12.0421 6.41248 11.9999C7.47185 11.9296 8.58747 11.8031 10.0406 11.5687C10.4156 11.5124 10.7953 11.4515 11.175 11.3812L11.5922 11.3109L11.4515 2.86869C12.1312 2.75151 12.9562 4.42026 13.6359 4.30307V10.9499L14.2406 10.8421C14.5265 10.7906 14.8219 10.7437 15.1125 10.7015H15.1172C15.1172 10.7015 15.4359 10.6499 15.4594 10.6499L15.7828 10.5984V10.5937C15.9187 10.5749 16.0594 10.5515 16.1953 10.5374C16.4297 10.4999 16.875 10.4437 16.875 10.4437L17.1187 10.4109C17.7844 10.3359 18.3422 10.2796 18.8765 10.2421C19.0265 10.2328 19.1578 10.2234 19.2937 10.2187C19.364 10.2093 19.4344 10.2046 19.5047 10.2046L19.514 10.214L19.7297 10.1999H19.9078L19.9125 10.1953H19.9312C20.1469 10.1859 20.339 10.1859 20.5265 10.1859C20.6859 10.1859 20.8453 10.1859 21 10.1906H21.1547C21.2109 10.1906 21.2672 10.1953 21.3234 10.1999H21.3797C21.4828 10.1999 21.5859 10.2046 21.689 10.214C21.8953 10.2234 22.0828 10.2374 22.2703 10.2562C22.4578 10.2703 22.6453 10.289 22.8281 10.3124C23.0297 10.3312 23.2125 10.3593 23.3953 10.3874C23.5781 10.4203 23.7328 10.4343 23.8969 10.4671C24.0047 10.4859 24.0703 10.4999 24.1359 10.514L24.2156 10.5328L24.5203 10.5937C24.7125 10.6359 24.8953 10.6874 25.0734 10.7296C25.0734 10.7296 25.3031 10.7906 25.3734 10.8093L25.889 10.9687Z' fill='%23E54D3C'/%3E%3Cpath d='M25.8891 17.5733V18.6093C25.9078 18.8952 25.7531 19.1624 25.4953 19.2937C25.2797 19.1108 25.0734 19.2562 24.8625 19.078C24.8672 19.0312 24.8672 18.6608 24.8672 18.6093V17.5733C22.7766 15.7124 20.4516 14.1327 17.9578 12.8671C18.0281 12.8624 18.1031 12.853 18.1734 12.8483C18.3516 12.8343 18.525 12.8155 18.6984 12.8061C18.7453 12.7968 18.7969 12.7921 18.8484 12.7968C21.3938 14.0718 23.7609 15.6796 25.8891 17.5733Z' fill='%23E6E7E7'/%3E%3Cpath d='M24.8672 17.5734V18.6093C24.8672 18.6609 24.8672 19.0312 24.8625 19.0781C21.6656 16.4578 17.85 14.5968 14.6531 13.2515C14.8969 13.2093 15.7781 13.139 16.0219 13.1109C16.3875 13.0546 16.7625 13.0031 17.1281 12.9609C17.3297 12.9421 17.5266 12.914 17.7234 12.8953C17.7984 12.8859 17.8781 12.8765 17.9531 12.8718C20.4562 14.1328 22.7766 15.7125 24.8672 17.5734Z' fill='%23E54D3C'/%3E%3Cpath d='M24.8672 17.5734V18.6093C24.8672 18.6609 24.8672 18.8765 24.8625 18.9234C22.1063 16.5562 19.0078 14.6156 15.675 13.1671C15.9187 13.125 15.7781 13.1437 16.0219 13.1109C16.3875 13.0546 16.7625 13.0031 17.1281 12.9609C17.3297 12.9421 17.5266 12.914 17.7234 12.8953C17.7984 12.8859 17.8781 12.8765 17.9531 12.8718C20.4563 14.1328 22.7766 15.7125 24.8672 17.5734Z' fill='%23E54D3C'/%3E%3Cpath d='M11.0766 9.46855V10.8842C10.7016 10.9498 10.3266 11.0107 9.95158 11.067C6.41251 9.58106 5.18439 9.23418 1.64532 6.0748C1.93126 5.6248 1.95001 5.17949 2.52189 5.15137L2.33439 5.05762C4.90782 6.70762 8.22189 8.37637 11.0766 9.46855Z' fill='%23E6E7E7'/%3E%3Cpath d='M9.44062 10.8468C9.60938 10.9218 9.78281 10.9968 9.95156 11.0671C8.75625 11.2546 7.56562 11.414 6.37031 11.489C3.825 10.214 2.87813 9.80151 0.75 7.90776L1.64062 6.07495' fill='%23E6E7E7'/%3E%3Cpath d='M9.69373 10.889C8.8406 11.0109 7.73435 11.0671 6.88591 11.1234C4.33591 9.8437 3.12654 9.02339 0.998413 7.12964L1.6406 6.07495C5.30623 8.4937 6.49216 9.52026 9.69373 10.889Z' fill='%23E54D3C'/%3E%3Cpath d='M2.92029 19.6547C5.63904 18.3141 6.38904 16.1766 9.1031 14.1375L10.5656 14.025C10.7344 14.0063 10.9078 13.9734 11.0765 13.9453V15.3609C8.52654 17.3719 6.44529 18.8016 3.57185 20.325' fill='%23E6E7E7'/%3E%3Cpath d='M10.3125 14.7702C7.88907 16.8562 5.87814 18.2671 3.09845 19.8421L2.41407 20.3108L3.09845 19.8421C2.18907 19.7718 2.48439 18.9374 2.27814 18.8577C3.72189 18.0515 5.5547 16.8046 8.97189 14.2968C9.17814 14.264 10.875 14.114 11.0766 14.0718L10.3125 14.7702Z' fill='%23E54D3C'/%3E%3Cpath d='M25.889 5.32969V6.36563C23.3765 7.11094 20.9953 8.24531 18.8344 9.72656V9.73125C18.2437 9.76875 17.6437 9.82969 17.0531 9.90469H17.0484H17.0437C16.7437 9.9375 16.439 9.975 16.139 10.0219C15.8531 10.0641 15.5672 10.1016 15.2812 10.1531L15.2766 10.1484C18.6844 7.64063 22.0922 5.4 25.4953 4.40625C25.739 4.65469 25.8796 4.98281 25.889 5.32969Z' fill='%23E6E7E7'/%3E%3Cpath d='M25.4954 4.41094C22.0876 5.4 18.6798 7.64531 15.2766 10.1531C15.272 10.1531 15.2673 10.1531 15.2673 10.1578C15.061 10.1906 14.8595 10.2188 14.6532 10.2609C14.4845 10.2797 14.311 10.3125 14.1423 10.3406V8.925C16.8657 6.88594 19.5845 4.94531 22.3032 3.60938C23.1657 3.67969 24.0235 3.82031 24.8673 4.02188C25.0548 4.07344 25.2282 4.1625 25.3735 4.29375H25.3782C25.4204 4.33125 25.4626 4.36875 25.4954 4.41094Z' fill='%23E6E7E7'/%3E%3Cpath d='M14.1844 9.8251C15.9281 8.39072 20.0906 5.21729 22.8141 3.88135C23.55 3.94229 24.2813 4.06885 24.9938 4.26104C25.036 4.30322 24.9563 4.21885 24.9938 4.26104C21.7875 5.93447 20.1985 7.01729 16.7906 9.52979L14.1844 9.8251Z' fill='%23E54D3C'/%3E%3Cpath d='M2.27343 18.8623L1.28436 17.2311C3.59999 15.8904 4.21874 16.0404 6.37968 14.5592V14.5545C7.42968 14.4279 8.47499 14.2451 9.51093 14.0107L5.56874 16.842L2.27343 18.8623Z' fill='%23E6E7E7'/%3E%3Cpath d='M25.4954 19.2938C25.2985 19.3828 25.0782 19.4016 24.8673 19.3453C24.0235 19.1391 23.1657 19.0031 22.3032 18.9328C19.7298 17.2875 16.9923 15.9094 14.1423 14.8219V13.4062C14.5173 13.3406 14.3954 13.2844 14.7704 13.2281L14.897 13.1953C18.6376 14.8453 22.1907 16.8891 25.4954 19.2938Z' fill='%23E6E7E7'/%3E%3C/svg%3E%0A");
}
.header__top__langSwitch__txt--vi {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4844 0.515625C8.07187 0.515625 5.01094 2.00156 2.90625 4.36406L4.11094 20.8078C6.10781 22.4766 8.67656 23.4844 11.4844 23.4844C17.8266 23.4844 22.9688 18.3422 22.9688 12C22.9688 5.65781 17.8266 0.515625 11.4844 0.515625Z' fill='white'/%3E%3Cpath d='M23.5635 4.4436C21.5151 4.29829 21.3698 3.15454 19.0495 3.15454C16.5885 3.15454 16.5745 4.4436 14.1416 4.45767C11.6291 4.47173 11.6432 3.15454 9.15414 3.15454C6.90414 3.15454 6.70258 4.23267 4.82289 4.42954C4.25101 4.49048 3.5432 4.47173 2.94789 4.31704C1.24164 6.21079 0.158822 8.67642 0.0135093 11.3952C0.0135093 11.4186 0.0135093 11.4045 0.00882175 11.503C-0.0521158 12.9092 0.140072 14.2874 0.57601 15.6045C0.57601 15.6092 0.61351 15.717 0.618197 15.7264C1.31195 17.7467 2.54945 19.5139 4.16195 20.8499C4.32133 20.8499 4.47133 20.8452 4.64945 20.8358C6.6932 20.6905 6.83851 19.5467 9.15883 19.5467C11.7135 19.5467 11.6432 20.9342 14.3245 20.8499C16.5791 20.7749 16.6541 19.5514 19.0541 19.5514C21.3463 19.5514 21.5151 20.6717 23.4932 20.8358C23.7698 20.8592 24.0042 20.6389 24.0042 20.367C24.0042 18.3327 24.0042 6.30923 24.0042 4.92642C23.9995 4.6686 23.812 4.45767 23.5635 4.4436Z' fill='%23DA1F26'/%3E%3Cpath d='M7.93538 17.3295V5.65767C7.93538 4.42954 8.84476 3.40298 10.0213 3.21548C9.7682 3.17798 9.48695 3.15454 9.15882 3.15454C6.90882 3.15454 6.70726 4.23267 4.82757 4.42954C4.2557 4.49048 3.54788 4.47173 2.95257 4.31704C1.24163 6.21079 0.158822 8.67642 0.0135092 11.3952C0.0135092 11.4186 0.0135092 11.4045 0.00882174 11.503C-0.0521158 12.9092 0.140072 14.2874 0.576009 15.6045C0.576009 15.6092 0.613509 15.717 0.618197 15.7264C1.31195 17.7467 2.54945 19.5139 4.16195 20.8499C4.32132 20.8499 4.47132 20.8452 4.64945 20.8358C6.6932 20.6905 6.83851 19.5467 9.15882 19.5467C9.21507 19.5467 9.26663 19.5467 9.3182 19.5467C8.49788 19.1389 7.93538 18.2952 7.93538 17.3295Z' fill='%23C12126'/%3E%3Cpath d='M13.0359 7.25639L14.0203 10.2892C14.0719 10.4533 14.2265 10.5611 14.3953 10.5611H17.5828C17.7984 10.5611 17.9765 10.7345 17.9765 10.9548C17.9765 11.0814 17.9156 11.1986 17.8125 11.2736L15.2344 13.1486C15.0937 13.247 15.0375 13.4251 15.089 13.5892L16.0734 16.622C16.139 16.8283 16.0218 17.0533 15.8156 17.1189C15.6984 17.1564 15.5672 17.1329 15.4687 17.0626L12.8906 15.1923C12.7547 15.0892 12.5672 15.0892 12.4265 15.1923L9.84842 17.0673C9.67029 17.1939 9.42186 17.1517 9.29529 16.9783C9.22498 16.8751 9.20154 16.7486 9.23904 16.6314L10.2234 13.5986C10.275 13.4345 10.214 13.2611 10.0781 13.158L7.4953 11.2783C7.31717 11.1517 7.27967 10.9033 7.40623 10.7298C7.48123 10.6267 7.59842 10.5658 7.72967 10.5658H10.9219C11.0906 10.5658 11.2453 10.458 11.2969 10.2939L12.2812 7.26108C12.3515 7.05483 12.5719 6.94233 12.7781 7.00796C12.9 7.04546 12.9937 7.13921 13.0359 7.25639Z' fill='%23F6C753'/%3E%3C/svg%3E%0A");
}
.header__bottom {
  background: #F5821F;
}
@media (min-width: 960px) {
  .header__bottom {
    background: #fff;
  }
}
.header__bottom .uk-logo img {
  height: 46px;
}
@media (min-width: 960px) {
  .header__bottom .uk-logo img {
    height: inherit;
  }
}
.header__bottom__selectLang {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='5 7 15 7 10 12'%3E%3C/polygon%3E%3C/svg%3E");
}
.header__bottom__selectLang__icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header__bottom__selectLang__icon svg {
  visibility: hidden;
  width: 24px;
  height: 24px;
}
.header__bottom__selectLang__icon.en {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4844 0.515625C8.07187 0.515625 5.01094 2.00156 2.90625 4.36406L4.11094 20.8078C6.10781 22.4766 8.67656 23.4844 11.4844 23.4844C17.8266 23.4844 22.9688 18.3422 22.9688 12C22.9688 5.65781 17.8266 0.515625 11.4844 0.515625Z' fill='white'/%3E%3Cpath d='M23.564 4.4436C21.5156 4.29829 21.3702 3.15454 19.0499 3.15454C16.589 3.15454 16.5749 4.4436 14.1421 4.45767C11.6296 4.47173 11.6437 3.15454 9.15462 3.15454C6.90462 3.15454 6.70306 4.23267 4.82337 4.42954C4.2515 4.49048 3.54369 4.47173 2.94837 4.31704C1.24212 6.21079 0.15931 8.67642 0.0139975 11.3952C0.0139975 11.4186 0.0139975 11.4045 0.00931002 11.503C-0.0516275 12.9092 0.14056 14.2874 0.576498 15.6045C0.576498 15.6092 0.613998 15.717 0.618685 15.7264C1.31244 17.7467 2.54994 19.5139 4.16244 20.8499C4.32181 20.8499 4.47181 20.8452 4.64993 20.8358C6.69368 20.6905 6.839 19.5467 9.15931 19.5467C11.714 19.5467 11.6437 20.9342 14.3249 20.8499C16.5796 20.7749 16.6546 19.5514 19.0546 19.5514C21.3468 19.5514 21.5156 20.6717 23.4937 20.8358C23.7702 20.8592 24.0046 20.6389 24.0046 20.367C24.0046 18.3327 24.0046 6.30923 24.0046 4.92642C23.9999 4.6686 23.8124 4.45767 23.564 4.4436Z' fill='%23295781'/%3E%3Cpath d='M7.93587 17.3295V5.65767C7.93587 4.42954 8.84525 3.40298 10.0218 3.21548C9.76868 3.17798 9.48743 3.15454 9.15931 3.15454C6.90931 3.15454 6.70775 4.23267 4.82806 4.42954C4.25619 4.49048 3.54837 4.47173 2.95306 4.31704C1.24212 6.21079 0.15931 8.67642 0.0139975 11.3952C0.0139975 11.4186 0.0139975 11.4045 0.00931002 11.503C-0.0516275 12.9092 0.14056 14.2874 0.576498 15.6045C0.576498 15.6092 0.613998 15.717 0.618685 15.7264C1.31244 17.7467 2.54994 19.5139 4.16244 20.8499C4.32181 20.8499 4.47181 20.8452 4.64993 20.8358C6.69368 20.6905 6.839 19.5467 9.15931 19.5467C9.21556 19.5467 9.26712 19.5467 9.31868 19.5467C8.49837 19.1389 7.93587 18.2952 7.93587 17.3295Z' fill='%231B3D6E'/%3E%3Cpath d='M25.8891 10.439V13.5C25.6687 13.4296 25.4437 13.3687 25.2234 13.3078C24.8953 13.2187 24.5766 13.1437 24.2531 13.0828C24.0234 13.0312 23.7984 12.989 23.5734 12.9609C23.3484 12.9187 23.1234 12.8906 22.8984 12.8671C22.6031 12.825 22.3031 12.8015 22.0031 12.7781C21.9141 12.7687 21.825 12.764 21.7359 12.764C21.675 12.7593 21.6094 12.7593 21.5438 12.7546C21.5109 12.7546 21.4828 12.75 21.4453 12.75C21.3516 12.7453 21.2578 12.7406 21.1594 12.7406C20.9484 12.7359 20.7422 12.7359 20.5359 12.7359C20.3813 12.7359 20.2266 12.7359 20.0719 12.7406C19.95 12.7406 19.8328 12.7453 19.7109 12.75H19.6734C19.6078 12.75 19.5375 12.7546 19.4672 12.7593C19.2562 12.764 19.05 12.7734 18.8391 12.7968C18.7875 12.7968 18.7406 12.7968 18.6891 12.8062C18.5156 12.8156 18.3422 12.8296 18.1641 12.8484C18.0141 12.8625 17.8688 12.8718 17.7188 12.8953C17.5219 12.9093 17.3203 12.9328 17.1234 12.9609C16.7578 13.0031 16.3828 13.0546 16.0172 13.1109C15.7734 13.1437 15.5203 13.1812 15.2766 13.2234H15.2625C14.8875 13.2796 14.5125 13.3406 14.1375 13.4062V21.1687L13.6266 21.2625C12.9469 21.3796 11.8687 20.9578 11.1891 21.075L11.0719 20.0765V13.9453C10.6969 14.0109 10.3219 14.0718 9.94687 14.1281C8.75625 14.3156 7.56562 14.475 6.375 14.55C3.99844 14.7656 1.60781 14.5265 -0.679688 13.8468V10.7812C1.60313 11.4609 3.99375 11.7 6.36563 11.4843C7.56094 11.4093 8.75156 11.25 9.94687 11.0625C10.3219 11.0062 10.6969 10.9453 11.0719 10.8796L10.9312 2.95776L11.6672 3.60933C12.3469 3.49214 12.9516 4.42026 13.6312 4.30308L14.1422 4.20933V10.3406C14.5172 10.275 14.8922 10.214 15.2672 10.1578C15.2672 10.1531 15.2719 10.1531 15.2766 10.1531L15.2812 10.1578C15.5672 10.1062 15.8531 10.064 16.1391 10.0265C16.4391 9.98433 16.7438 9.94683 17.0438 9.90933H17.0484H17.0531C17.6437 9.83901 18.2391 9.77808 18.8344 9.73589C18.9844 9.72651 19.125 9.71714 19.2703 9.71245C19.4109 9.69839 19.5562 9.68901 19.7016 9.6937C19.7062 9.68901 19.7062 9.68901 19.7109 9.6937C19.7812 9.68901 19.8609 9.68901 19.9313 9.68901C20.2922 9.67495 20.6578 9.67495 21.0187 9.68433H21.1547C21.2297 9.68433 21.3047 9.68901 21.3797 9.6937C21.4969 9.6937 21.6141 9.69839 21.7313 9.70776C21.9234 9.71714 22.1203 9.7312 22.3125 9.74995C22.5047 9.76401 22.7016 9.78745 22.8937 9.81089C23.0859 9.83433 23.2828 9.85776 23.475 9.88589C23.6484 9.90933 23.8219 9.93745 23.9953 9.97495C24.075 9.98901 24.1641 10.0078 24.2484 10.0265C24.375 10.05 24.5109 10.0781 24.6375 10.1062C24.8297 10.1484 25.0266 10.2 25.2188 10.2468C25.4438 10.3031 25.6687 10.364 25.8891 10.439Z' fill='%23E6E7E7'/%3E%3Cpath d='M25.889 10.9687V12.9374L25.3781 12.8249L25.364 12.8203C24.9843 12.7171 24.6609 12.6421 24.3515 12.5859C24.1219 12.5343 23.8828 12.4874 23.6437 12.4593C23.4281 12.4171 23.189 12.389 22.95 12.3609C22.664 12.3234 22.3547 12.2953 22.0453 12.2718C21.9469 12.2624 21.8437 12.2578 21.7453 12.2578L21.5859 12.2484C21.5203 12.2437 21.4875 12.2437 21.4547 12.2437C21.3844 12.239 21.2765 12.2343 21.1687 12.2343C20.9719 12.2296 20.7562 12.2296 20.5453 12.2296C20.3859 12.2296 20.2219 12.2296 20.0672 12.2343H20.0578C19.9547 12.2343 19.8422 12.239 19.725 12.2437C19.6078 12.2484 19.5187 12.2484 19.4437 12.2531C19.2469 12.2578 19.0265 12.2671 18.8015 12.2906H18.7781C18.7312 12.2906 18.689 12.2953 18.6469 12.3046C18.4969 12.3093 18.3515 12.3234 18.2015 12.3374L17.9812 12.3562C17.8734 12.3656 17.7703 12.3749 17.6625 12.3937C17.4844 12.4031 17.2687 12.4312 17.0578 12.4593C16.7062 12.5015 16.3219 12.5531 15.9515 12.6093C15.7219 12.6421 15.4781 12.6749 15.2344 12.7171L15.1922 12.7218C14.8125 12.7781 14.4328 12.839 14.0531 12.9093L13.6359 12.9796V21.2624C12.9562 21.3796 12.2578 20.5593 11.5781 20.6765L11.5922 13.3406L10.9875 13.4484C10.6219 13.5093 10.2469 13.5703 9.88123 13.6265C8.49373 13.8468 7.36873 13.9781 6.35623 14.0437C5.7656 14.0859 5.18435 14.1046 4.64529 14.1046C3.02341 14.1234 1.40623 13.9078 -0.154712 13.4718L-0.665649 13.3171V11.2968L-0.154712 11.4656C1.41091 11.8781 3.01873 12.0796 4.63591 12.0609C5.2031 12.0609 5.79841 12.0421 6.41248 11.9999C7.47185 11.9296 8.58748 11.8031 10.0406 11.5687C10.4156 11.5124 10.7953 11.4515 11.175 11.3812L11.5922 11.3109L11.4515 2.86869C12.1312 2.75151 12.9562 4.42026 13.6359 4.30307V10.9499L14.2406 10.8421C14.5265 10.7906 14.8219 10.7437 15.1125 10.7015H15.1172C15.1172 10.7015 15.4359 10.6499 15.4594 10.6499L15.7828 10.5984V10.5937C15.9187 10.5749 16.0594 10.5515 16.1953 10.5374C16.4297 10.4999 16.875 10.4437 16.875 10.4437L17.1187 10.4109C17.7844 10.3359 18.3422 10.2796 18.8765 10.2421C19.0265 10.2328 19.1578 10.2234 19.2937 10.2187C19.364 10.2093 19.4344 10.2046 19.5047 10.2046L19.514 10.214L19.7297 10.1999H19.9078L19.9125 10.1953H19.9312C20.1469 10.1859 20.339 10.1859 20.5265 10.1859C20.6859 10.1859 20.8453 10.1859 21 10.1906H21.1547C21.2109 10.1906 21.2672 10.1953 21.3234 10.1999H21.3797C21.4828 10.1999 21.5859 10.2046 21.689 10.214C21.8953 10.2234 22.0828 10.2374 22.2703 10.2562C22.4578 10.2703 22.6453 10.289 22.8281 10.3124C23.0297 10.3312 23.2125 10.3593 23.3953 10.3874C23.5781 10.4203 23.7328 10.4343 23.8969 10.4671C24.0047 10.4859 24.0703 10.4999 24.1359 10.514L24.2156 10.5328L24.5203 10.5937C24.7125 10.6359 24.8953 10.6874 25.0734 10.7296C25.0734 10.7296 25.3031 10.7906 25.3734 10.8093L25.889 10.9687Z' fill='%23E54D3C'/%3E%3Cpath d='M25.8891 17.5733V18.6093C25.9078 18.8952 25.7531 19.1624 25.4953 19.2937C25.2797 19.1108 25.0734 19.2562 24.8625 19.078C24.8672 19.0312 24.8672 18.6608 24.8672 18.6093V17.5733C22.7766 15.7124 20.4516 14.1327 17.9578 12.8671C18.0281 12.8624 18.1031 12.853 18.1734 12.8483C18.3516 12.8343 18.525 12.8155 18.6984 12.8061C18.7453 12.7968 18.7969 12.7921 18.8484 12.7968C21.3938 14.0718 23.7609 15.6796 25.8891 17.5733Z' fill='%23E6E7E7'/%3E%3Cpath d='M24.8672 17.5734V18.6093C24.8672 18.6609 24.8672 19.0312 24.8625 19.0781C21.6656 16.4578 17.85 14.5968 14.6531 13.2515C14.8969 13.2093 15.7781 13.139 16.0219 13.1109C16.3875 13.0546 16.7625 13.0031 17.1281 12.9609C17.3297 12.9421 17.5266 12.914 17.7234 12.8953C17.7984 12.8859 17.8781 12.8765 17.9531 12.8718C20.4562 14.1328 22.7766 15.7125 24.8672 17.5734Z' fill='%23E54D3C'/%3E%3Cpath d='M24.8672 17.5734V18.6093C24.8672 18.6609 24.8672 18.8765 24.8625 18.9234C22.1063 16.5562 19.0078 14.6156 15.675 13.1671C15.9187 13.125 15.7781 13.1437 16.0219 13.1109C16.3875 13.0546 16.7625 13.0031 17.1281 12.9609C17.3297 12.9421 17.5266 12.914 17.7234 12.8953C17.7984 12.8859 17.8781 12.8765 17.9531 12.8718C20.4563 14.1328 22.7766 15.7125 24.8672 17.5734Z' fill='%23E54D3C'/%3E%3Cpath d='M11.0766 9.46855V10.8842C10.7016 10.9498 10.3266 11.0107 9.95158 11.067C6.41251 9.58106 5.18439 9.23418 1.64532 6.0748C1.93126 5.6248 1.95001 5.17949 2.52189 5.15137L2.33439 5.05762C4.90782 6.70762 8.22189 8.37637 11.0766 9.46855Z' fill='%23E6E7E7'/%3E%3Cpath d='M9.44062 10.8468C9.60937 10.9218 9.78281 10.9968 9.95156 11.0671C8.75625 11.2546 7.56562 11.414 6.37031 11.489C3.825 10.214 2.87813 9.80151 0.75 7.90776L1.64062 6.07495' fill='%23E6E7E7'/%3E%3Cpath d='M9.69373 10.889C8.8406 11.0109 7.73435 11.0671 6.88591 11.1234C4.33591 9.8437 3.12654 9.02339 0.998413 7.12964L1.6406 6.07495C5.30623 8.4937 6.49216 9.52026 9.69373 10.889Z' fill='%23E54D3C'/%3E%3Cpath d='M2.92029 19.6547C5.63904 18.3141 6.38904 16.1766 9.1031 14.1375L10.5656 14.025C10.7344 14.0063 10.9078 13.9734 11.0765 13.9453V15.3609C8.52654 17.3719 6.44529 18.8016 3.57185 20.325' fill='%23E6E7E7'/%3E%3Cpath d='M10.3125 14.7702C7.88907 16.8562 5.87814 18.2671 3.09845 19.8421L2.41407 20.3108L3.09845 19.8421C2.18907 19.7718 2.48439 18.9374 2.27814 18.8577C3.72189 18.0515 5.5547 16.8046 8.97189 14.2968C9.17814 14.264 10.875 14.114 11.0766 14.0718L10.3125 14.7702Z' fill='%23E54D3C'/%3E%3Cpath d='M25.889 5.32969V6.36563C23.3765 7.11094 20.9953 8.24531 18.8344 9.72656V9.73125C18.2437 9.76875 17.6437 9.82969 17.0531 9.90469H17.0484H17.0437C16.7437 9.9375 16.439 9.975 16.139 10.0219C15.8531 10.0641 15.5672 10.1016 15.2812 10.1531L15.2766 10.1484C18.6844 7.64063 22.0922 5.4 25.4953 4.40625C25.739 4.65469 25.8796 4.98281 25.889 5.32969Z' fill='%23E6E7E7'/%3E%3Cpath d='M25.4954 4.41094C22.0876 5.4 18.6798 7.64531 15.2766 10.1531C15.272 10.1531 15.2673 10.1531 15.2673 10.1578C15.061 10.1906 14.8595 10.2188 14.6532 10.2609C14.4845 10.2797 14.311 10.3125 14.1423 10.3406V8.925C16.8657 6.88594 19.5845 4.94531 22.3032 3.60938C23.1657 3.67969 24.0235 3.82031 24.8673 4.02188C25.0548 4.07344 25.2282 4.1625 25.3735 4.29375H25.3782C25.4204 4.33125 25.4626 4.36875 25.4954 4.41094Z' fill='%23E6E7E7'/%3E%3Cpath d='M14.1844 9.8251C15.9281 8.39072 20.0906 5.21729 22.8141 3.88135C23.55 3.94229 24.2813 4.06885 24.9938 4.26104C25.036 4.30322 24.9563 4.21885 24.9938 4.26104C21.7875 5.93447 20.1985 7.01729 16.7906 9.52979L14.1844 9.8251Z' fill='%23E54D3C'/%3E%3Cpath d='M2.27343 18.8623L1.28436 17.2311C3.59999 15.8904 4.21874 16.0404 6.37968 14.5592V14.5545C7.42968 14.4279 8.47499 14.2451 9.51093 14.0107L5.56874 16.842L2.27343 18.8623Z' fill='%23E6E7E7'/%3E%3Cpath d='M25.4954 19.2938C25.2985 19.3828 25.0782 19.4016 24.8673 19.3453C24.0235 19.1391 23.1657 19.0031 22.3032 18.9328C19.7298 17.2875 16.9923 15.9094 14.1423 14.8219V13.4062C14.5173 13.3406 14.3954 13.2844 14.7704 13.2281L14.897 13.1953C18.6376 14.8453 22.1907 16.8891 25.4954 19.2938Z' fill='%23E6E7E7'/%3E%3C/svg%3E%0A");
}
.header__bottom__selectLang__icon.vi {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4844 0.515625C8.07187 0.515625 5.01094 2.00156 2.90625 4.36406L4.11094 20.8078C6.10781 22.4766 8.67656 23.4844 11.4844 23.4844C17.8266 23.4844 22.9688 18.3422 22.9688 12C22.9688 5.65781 17.8266 0.515625 11.4844 0.515625Z' fill='white'/%3E%3Cpath d='M23.5635 4.4436C21.5151 4.29829 21.3698 3.15454 19.0495 3.15454C16.5885 3.15454 16.5745 4.4436 14.1416 4.45767C11.6291 4.47173 11.6432 3.15454 9.15414 3.15454C6.90414 3.15454 6.70258 4.23267 4.82289 4.42954C4.25101 4.49048 3.5432 4.47173 2.94789 4.31704C1.24164 6.21079 0.158822 8.67642 0.0135093 11.3952C0.0135093 11.4186 0.0135093 11.4045 0.00882175 11.503C-0.0521158 12.9092 0.140072 14.2874 0.57601 15.6045C0.57601 15.6092 0.61351 15.717 0.618197 15.7264C1.31195 17.7467 2.54945 19.5139 4.16195 20.8499C4.32133 20.8499 4.47133 20.8452 4.64945 20.8358C6.6932 20.6905 6.83851 19.5467 9.15883 19.5467C11.7135 19.5467 11.6432 20.9342 14.3245 20.8499C16.5791 20.7749 16.6541 19.5514 19.0541 19.5514C21.3463 19.5514 21.5151 20.6717 23.4932 20.8358C23.7698 20.8592 24.0042 20.6389 24.0042 20.367C24.0042 18.3327 24.0042 6.30923 24.0042 4.92642C23.9995 4.6686 23.812 4.45767 23.5635 4.4436Z' fill='%23DA1F26'/%3E%3Cpath d='M7.93538 17.3295V5.65767C7.93538 4.42954 8.84476 3.40298 10.0213 3.21548C9.7682 3.17798 9.48695 3.15454 9.15882 3.15454C6.90882 3.15454 6.70726 4.23267 4.82757 4.42954C4.2557 4.49048 3.54788 4.47173 2.95257 4.31704C1.24163 6.21079 0.158822 8.67642 0.0135092 11.3952C0.0135092 11.4186 0.0135092 11.4045 0.00882174 11.503C-0.0521158 12.9092 0.140072 14.2874 0.576009 15.6045C0.576009 15.6092 0.613509 15.717 0.618197 15.7264C1.31195 17.7467 2.54945 19.5139 4.16195 20.8499C4.32132 20.8499 4.47132 20.8452 4.64945 20.8358C6.6932 20.6905 6.83851 19.5467 9.15882 19.5467C9.21507 19.5467 9.26663 19.5467 9.3182 19.5467C8.49788 19.1389 7.93538 18.2952 7.93538 17.3295Z' fill='%23C12126'/%3E%3Cpath d='M13.0359 7.25639L14.0203 10.2892C14.0719 10.4533 14.2265 10.5611 14.3953 10.5611H17.5828C17.7984 10.5611 17.9765 10.7345 17.9765 10.9548C17.9765 11.0814 17.9156 11.1986 17.8125 11.2736L15.2344 13.1486C15.0937 13.247 15.0375 13.4251 15.089 13.5892L16.0734 16.622C16.139 16.8283 16.0218 17.0533 15.8156 17.1189C15.6984 17.1564 15.5672 17.1329 15.4687 17.0626L12.8906 15.1923C12.7547 15.0892 12.5672 15.0892 12.4265 15.1923L9.84842 17.0673C9.67029 17.1939 9.42186 17.1517 9.29529 16.9783C9.22498 16.8751 9.20154 16.7486 9.23904 16.6314L10.2234 13.5986C10.275 13.4345 10.214 13.2611 10.0781 13.158L7.4953 11.2783C7.31717 11.1517 7.27967 10.9033 7.40623 10.7298C7.48123 10.6267 7.59842 10.5658 7.72967 10.5658H10.9219C11.0906 10.5658 11.2453 10.458 11.2969 10.2939L12.2812 7.26108C12.3515 7.05483 12.5719 6.94233 12.7781 7.00796C12.9 7.04546 12.9937 7.13921 13.0359 7.25639Z' fill='%23F6C753'/%3E%3C/svg%3E%0A");
}
.header__bottom__menuBtn {
  color: #FFFFFF !important;
}
.header__bottom__formSearch {
  margin-top: -5px;
}
.header__bottom__formSearch__input {
  background: #fff !important;
  border-color: #fff !important;
  height: 46px !important;
  border-radius: 3px;
}
.header__bottom__btn {
  position: relative;
  font-family: "Be Vietnam Pro ExtraBold", sans-serif;
  background: linear-gradient(270.5deg, #F79922 -0.62%, #FF7A00 99.14%);
}
@media (min-width: 960px) {
  .header__bottom__btn {
    color: #FFFFFF;
  }
}
.header__bottom__btn:after {
  content: "";
}
.header__bottom__btn:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(#F4DBBB, rgba(255, 198, 126, 0));
  border-radius: 500px;
}
.header__bottom__navItem, .header__bottom .uk-navbar-item,
.header__bottom .uk-navbar-toggle, .header__bottom .uk-navbar-nav > li > a {
  min-height: 70px;
}
@media (min-width: 960px) {
  .header__bottom__navItem, .header__bottom .uk-navbar-item,
.header__bottom .uk-navbar-toggle, .header__bottom .uk-navbar-nav > li > a {
    min-height: 86px;
  }
}
.header__bottom .uk-navbar-nav > li > a {
  color: #333333;
  font-family: "Be Vietnam Pro SemiBold", sans-serif;
  position: relative;
}
.header__bottom .uk-navbar-nav > li > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: calc(102% - 0px);
  bottom: 20px;
  height: 1px;
  background-color: currentColor;
  transition: 0.3s ease-in-out;
  transition-property: right;
}
.header__bottom .uk-navbar-nav > li > a:hover {
  color: #F5821F;
}
.header__bottom .uk-navbar-nav > li > a:hover:before {
  right: 0;
}
.header__bottom .uk-navbar-nav > li.uk-active > a {
  color: #F5821F;
}
.header__bottom .uk-navbar-nav > li.uk-active > a:before {
  right: 0;
}

/*# sourceMappingURL=style.css.map */
