.blog{
  &__article{
    .uk-article-title{
      color: #333333;
      @extend .fz-36;
      font-family: $font-BeVietnamPro-Bold;
      line-height: (53/36);
    }
    p{
      letter-spacing: -0.0033em;
      @extend .fz-18;
      line-height: 1.78;
    }
  }
  &__content{
    padding-top: 0;
    @include media-breakpoint-up('m'){
      padding-top: 40px;
    }
    &__coverImg{
      @include media-breakpoint-up('m'){
        border-radius: 20px;
      }
    }
    &__btnShare{
      text-transform: inherit;
      display: flex;
      align-items: center;
      svg{
        margin-left: 5px;
      }
    }
  }
  &__mucluc{
    .uk-nav{
      >li{
        &:last-child{
          >a{
            color: #FE6601;
            font-family: $font-BeVietnamPro-Bold;
          }
        }
        >a{
          padding: 10px 25px;
          color: #333333;
          letter-spacing: 0.0275em;
          @extend .fz-16;
          line-height: 1.5;
          &:hover{
            background: #FFF2EA;
            color: #{$primary-color};
          }
        }
        &.uk-active{
          >a{
            background: #FFF2EA;
            color: #{$primary-color};
          }
        }
      }
    }
  }
  &__boxBreadcrumb{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #F5F5F5;
    &.uk-sticky-below{
      //box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    }
  }
  &__breadcrumb{
    width: max-content;
    @include media-breakpoint-up('m'){
      width: inherit;
    }
    >*{
      align-items: center;
      &:nth-child(n+2){
        &:before{
          $x:10px;
          margin: 0 #{$x} 0 calc(#{$x} - 4px) !important;
          @include media-breakpoint-up('m'){
            $x:15px;
            margin: 0 #{$x} 0 calc(#{$x} - 4px) !important;
          }
          content: "" !important;
          width: 20px;
          height: 20px;
          //background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' points='10 5 15 9.5 10 14'%3E%3C/polyline%3E%3Cline fill='none' stroke='%23000' x1='4' y1='9.5' x2='15' y2='9.5'%3E%3C/line%3E%3C/svg%3E");
          background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L1 1' stroke='%234F4F4F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    >li{
      display: inherit;
      $x:15px;
      &:first-child{
        margin-left: #{$x};
      }
      &:last-child{
        padding-right: #{$x};
      }
      >*{
        color: #000000 !important;
        letter-spacing: -0.0033em;
        @extend .fz-18;
        svg{
          visibility: hidden;
          width: 24px;
          height: 24px;
        }
      }
      &:first-child{
        >*{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z' stroke='%234F4F4F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 22V12H15V22' stroke='%234F4F4F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
  &__pagination{
    margin-left: -10px;
    @include media-breakpoint-up('m'){
      margin-left: -20px;
    }
    >li{
      padding-left: 10px;
      @include media-breakpoint-up('m'){
        padding-left: 20px;
      }
      &.uk-active{
        >*{
          background: #{$primary-color};
          color: #FFFFFF;
        }
      }
      >*{
        $x:36px;
        width: #{$x};
        height: #{$x};
        @include media-breakpoint-up('m'){
          $x:50px;
          width: #{$x};
          height: #{$x};
        }
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 50%;
        color: #000000;
        @extend .fz-16;
        font-family: $font-BeVietnamPro-Bold;
        padding: 0;
      }
    }
  }
  &__boxAds{
    background: #F2F2F2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    @include media-breakpoint-up('m'){
      min-height: 357px;
    }
    text-align: center;
    &__title{
      color: #4F4F4F;
      @extend .fz-42;
      font-family: $font-BeVietnamPro-Bold;
    }
    &__desc{
      color: #4F4F4F;
      @extend .fz-24;
      line-height: 1.5;
      font-family: $font-BeVietnamPro-Medium;
    }
  }
  &__title{
    color: #{$secondary-color};
    @extend .fz-36;
    font-family: $font-BeVietnamPro-SemiBold;
    line-height: 1.61;
  }
  &__navbar{
    &.uk-sticky{
      &.uk-active{

      }
    }
    &.uk-sticky-below{
      box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    }
    .uk-navbar-nav{
      //gap: 20px;
      width: max-content;
      @include media-breakpoint-up('m'){
        gap: 60px;
      }
      >li{
        @include media-breakpoint-down('s'){
          $x:15px;
          &:first-child{
            margin-left: #{$x};
          }
          &:last-child{
            padding-right: #{$x};
          }
        }
        >a{
          text-transform: inherit;
          color: #333333;
          @extend .fz-20;
          font-family: $font-BeVietnamPro-Bold;
          position: relative;
          min-height: 50px;
          &:before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: calc(102% - 0px);
            bottom: 0;
            height: 1px;
            background-color: currentColor;
            transition: .3s ease-in-out;
            transition-property: right;
          }
          &:hover{
            color: #{$primary-color};
            &:before{
              right: 0;
            }
          }
        }
        &.uk-active{
          >a{
            color: #{$primary-color};
            &:before{
              right: 0;
            }
          }
        }
      }
    }
  }
  &__blockContent{
    padding-top: 20px;
    padding-bottom: 20px;
    @include media-breakpoint-up('m'){
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &__aside{
      &__card{
        @include media-breakpoint-up('m'){

        }
        &__title{
          color: #{$secondary-color};
          @extend .fz-24;
          line-height: (35/24);
          font-family: $font-BeVietnamPro-ExtraBold;
        }
      }
      &__navList{
        >li{
          &:nth-child(n+2){
            @include media-breakpoint-up('m'){
              $x:15px;
              margin-top: #{$x} !important;
              padding-top: #{$x} !important;
            }
          }
          >a{
            letter-spacing: -0.0033em;
            color: #333333;
            line-height: 1.78;
            @extend .fz-18;
            padding-left: 40px;
            @include media-breakpoint-up('m'){
              padding-left: 50px;
            }
            position: relative;
            &:hover{
              color: #{$primary-color};
            }
            &:before{
              content: attr(data-number);
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              color: currentColor;
              @extend .fz-48;
              font-family: $font-BeVietnamPro-Bold;
            }
          }
        }
      }
    }
  }
}