.home{
  &__spNoibat{
    background: url("images/image11.png")
    ,linear-gradient(90deg, #070707 0%, #003A30 100%);
    min-height: 941px;
    background-repeat: no-repeat;
    background-position: center;
  }
}