.home{
  &__boxSpace{
    margin-left: -15px;
    margin-right: -15px;
    @include media-breakpoint-up('m'){
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__overflow{
    &__boxshadow{
      padding-top: 24px;
      //padding-bottom: 24px;
    }
    &__scrollbar{
      &::-webkit-scrollbar{
        display: none;
      }
    }
    &__grid{

    }
    &__column{
      $x:15px;
      &:first-child{
        margin-left: #{$x};
      }
      &:last-child{
        padding-right: #{$x};
      }
    }
  }
  &__khachhang{
    &__card{
      border-radius: 50px;
    }
  }
  &__baochi{
    &__slidenav{
      background-repeat: no-repeat;
      background-position: center;
      svg{
        visibility: hidden;
      }
      &--next{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='9' viewBox='0 0 20 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5 4.5L15.5 0.5V3.5H0.5V5.5H15.5V8.5L19.5 4.5Z' fill='black' fill-opacity='0.54'/%3E%3C/svg%3E%0A");
      }
      &--prev{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='9' viewBox='0 0 20 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 4.5L4.5 0.5V3.5H19.5V5.5H4.5V8.5L0.5 4.5Z' fill='black' fill-opacity='0.54'/%3E%3C/svg%3E%0A");
      }
    }
    &__link1{
      color: #333333;
      @extend .fz-16;
      font-family: $font-BeVietnamPro-Medium;
      &:hover{
        color: #{$primary-color};
      }
    }
    &__link{
      display: flex;
      align-items: center;
      justify-content: center;
      &:before{
        content: "";
        width: 51px;
        height: 29px;
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        /* Ef */

        backdrop-filter: blur(5px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 20px;

        background-color: red;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 12L6.5 19V5L17.5 12ZM13.77 12L8.5 8.64V15.36L13.77 12Z' fill='white' fill-opacity='0.54'/%3E%3C/svg%3E%0A");
        @include media-breakpoint-up('m'){
          background-color: rgba(238, 242, 244, 0.7);
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 12L6.5 19V5L17.5 12ZM13.77 12L8.5 8.64V15.36L13.77 12Z' fill='black' fill-opacity='0.54'/%3E%3C/svg%3E%0A");
        }
      }
      &:hover{
        &:before{
          background-color: red;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 12L6.5 19V5L17.5 12ZM13.77 12L8.5 8.64V15.36L13.77 12Z' fill='white' fill-opacity='0.54'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &__desc{
      color: #333333;
      @extend .fz-18;
      line-height: 1.78;
      font-family: $font-BeVietnamPro-Regular;
    }
    $max:40;
    $min:20;
    &__item-#{$max}-#{$min}{
      &:nth-child(n+2){
        margin-top: #{$min}px;
        @include media-breakpoint-up('m'){
          margin-top: #{$max}px;
        }
      }
    }
    $max:115;
    $min:60;
    &__item-#{$max}-#{$min}{
      &:nth-child(n+2){
        margin-top: #{$min}px;
        @include media-breakpoint-up('m'){
          margin-top: #{$max}px;
        }
      }
    }
  }
  &__about{
    background: #FAFAFA;
    .uk-width-medium{
      //width: 250px;
    }
    &__txt1{
      color: #{$secondary-color};
      @extend .fz-24;
      font-family: $font-BeVietnamPro-Bold;
      line-height: 1.33;
    }
    &__box{
      &:before{
        .home__about__column:nth-child(n+2) &{
          @extend .fz-24;
          font-family: $font-BeVietnamPro-Bold;
          content: attr(data-number);
          border: 3px solid #FAFAFA;
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          transform-origin: 100% 0;
          transform: translate(0%,-50%);
          right: 0;
          z-index: 10;
          border-radius: 50%;
          color: #FFFFFF;
        }
      }
      &:after{
        content: "";
        .home__about__column:nth-child(n+2):not(:last-child) &{
          content: "";
          width: 53px;
          height: 108px;
          background: #FAFAFA;
          display: flex;
          position: absolute;
          top: -3px;
          right: -3px;
        }
      }
      position: relative;
      text-align: center;
      min-height: 166px;
      background: #FAFAFA;
      border-radius: 50px;
      justify-content: center;
      padding: 20px;
      color: #{$secondary-color};
      @extend .fz-20;
      text-transform: uppercase;
      font-family: $font-BeVietnamPro-Bold;
      .home__about__column:nth-child(2) &{
        border: 3px solid #EB5757;
        &:before{
          background: #EB5757;
        }
      }
      .home__about__column:nth-child(3) &{
        border: 3px solid #F2994A;
        &:before{
          background: #F2994A;
        }
      }
      .home__about__column:nth-child(4) &{
        border: 3px solid #F2C94C;
        &:before{
          background: #F2C94C;
        }
      }
    }
    &__column{
      position: relative;
      &:nth-child(n+2):not(:last-child){
        &:before{
          content: "";
          width: 22px;
          height: 24px;
          position: absolute;
          display: flex;
          left: calc(100% - 3px);
          top: calc(50% + 14px);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &:nth-child(2){
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.0607 13.0607C21.6464 12.4749 21.6464 11.5251 21.0607 10.9393L11.5147 1.3934C10.9289 0.807611 9.97919 0.807611 9.3934 1.3934C8.80761 1.97919 8.80761 2.92893 9.3934 3.51472L17.8787 12L9.3934 20.4853C8.80761 21.0711 8.80761 22.0208 9.3934 22.6066C9.97919 23.1924 10.9289 23.1924 11.5147 22.6066L21.0607 13.0607ZM0 13.5H20V10.5H0V13.5Z' fill='%23FF6600'/%3E%3C/svg%3E%0A");
        }
      }
      &:nth-child(3){
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.0607 13.0607C21.6464 12.4749 21.6464 11.5251 21.0607 10.9393L11.5147 1.3934C10.9289 0.807611 9.97919 0.807611 9.3934 1.3934C8.80761 1.97919 8.80761 2.92893 9.3934 3.51472L17.8787 12L9.3934 20.4853C8.80761 21.0711 8.80761 22.0208 9.3934 22.6066C9.97919 23.1924 10.9289 23.1924 11.5147 22.6066L21.0607 13.0607ZM0 13.5H20V10.5H0V13.5Z' fill='%23F2994A'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &__txt2{
      color: #333333;
      @extend .fz-24;
      font-family: $font-BeVietnamPro-Medium;
      line-height: 1.33;
    }
    &__desc{
      @extend .fz-18;
      font-family: $font-BeVietnamPro-Regular;
      line-height: (26/18);
      color: #333333;
      span{
        color: #{$primary-color};
      }
    }
    &__link{
      color: #{$primary-color};
      @extend .fz-18;
      font-family: $font-BeVietnamPro-Regular;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      svg{
        margin-left: 5px;
      }
    }

    $max:90;
    $min:40;
    &__item-#{$max}-#{$min}{
      &:nth-child(n+2){
        margin-top: #{$min}px;
        @include media-breakpoint-up('m'){
          margin-top: #{$max}px;
        }
      }
    }
  }
  &__spNoibat{
    background: url("images/image11.png")
    ,linear-gradient(90deg, #070707 0%, #003A30 100%);
    //min-height: 941px;
    background-repeat: no-repeat;
    background-position: center;
    &__title{
      @extend .fz-36;
      font-family: $font-BeVietnamPro-ExtraBold;
      line-height: (53/36);
      color: #{$secondary-color};
      &--c1{
        @extend .fz-42;
      }
    }
    &__loadMoreBtn{
      background: linear-gradient(270.5deg, #F79922 -0.62%, #FF6B00 99.14%);
      text-transform: inherit;
      @extend .fz-15;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      svg{
        margin-left: 6px !important;
      }
      @include media-breakpoint-up('m'){
        line-height: 47px;
      }
    }
    &__card{
      border-radius: 9px;
      overflow: hidden;
      .uk-padding-small{
        padding: 10px;
        @include media-breakpoint-up('m'){
          padding: 20px;

        }
      }
      &__title{
        margin: 0;
        color: #333333;
        @extend .fz-18;
        font-family: $font-BeVietnamPro-Medium;
        line-height: (22/18);
      }
      &__label{
        background: #C02110;
        border: 1px solid #C02110;
        border-radius: 5px;
        @extend .fz-12;
        text-transform: inherit;
        font-family: $font-BeVietnamPro-SemiBold;
        color: #FFFFFF;
        padding: 0 5px;
      }
      &__star{
        b{
          @extend .fz-18;
          font-family: $font-BeVietnamPro-Bold;
          color: #4F4F4F;
          line-height: 1.44;
        }
        color: #4F4F4F;
        line-height: 1.86;
        @extend .fz-14;
        font-family: $font-BeVietnamPro-Light;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99999 15L4.12199 18.59L5.71999 11.89L0.48999 7.41L7.35499 6.86L9.99999 0.5L12.645 6.86L19.511 7.41L14.28 11.89L15.878 18.59L9.99999 15Z' fill='%23F2C94C'/%3E%3C/svg%3E%0A");
        padding-left: 28px;
        background-repeat: no-repeat;
        background-position: center left;
        display: flex;
        align-items: center;
      }
      &__txt{
        display: flex;
        align-items: center;
        min-height: 20px;
        color: rgba(51, 51, 51, 0.7);
        line-height: 1.23;
        @extend .fz-13;
        font-family: $font-BeVietnamPro-Regular;
        padding-left: 28px;
        background-repeat: no-repeat;
        background-position: center left;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='%234F4F4F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.584 5.83335L9.75816 13.0655L7.06139 10.215L6.15171 11.1789L9.75816 15L17.5001 6.79718L16.584 5.83335ZM13.8483 6.79718L12.9386 5.83335L8.84829 10.1672L9.75796 11.131L13.8483 6.79718ZM6.10645 15L2.5 11.1789L3.41613 10.215L7.01613 14.0362L6.10645 15Z' fill='white'/%3E%3C/svg%3E%0A");
      }
      &__btn{
        text-transform: inherit;
        @extend .fz-12;
        line-height: 24px;
        &.uk-button-secondary{
          background: linear-gradient(270.5deg, #F79922 -0.62%, #FF6B00 99.14%);
        }
        &.uk-button-default{
          color: #000;
          border-color: #828282;
        }
      }
    }
    &__boxTabs{
      box-sizing: border-box;
      position: relative;
      &:before{
        content: "";
        border: 1px solid rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(5px);
        $x:0px;
        left: #{$x};
        right: #{$x};
        top: #{$x};
        bottom: #{$x};
        position: absolute;
        border-radius: 500px;
      }
      .uk-subnav{
        position: relative;
        margin-left: 0 !important;
        >li{
          padding-left: 0 !important;
          >a{
            text-transform: inherit;
            border: 1px solid transparent;
            background-color: transparent;
            min-height: 30px;
            @include media-breakpoint-up('m'){
              min-width: 217px;
            }
            text-align: center;
            justify-content: center;
            @extend .fz-18;
            font-family: $font-BeVietnamPro-Regular;
            color: #FFFFFF !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          &.uk-active{
            >a{
              color: #FF6600 !important;
              border-radius: 500px;
              border-color: currentColor;
            }
          }
        }
      }
    }


    $max:48;
    $min:25;
    &__item-#{$max}-#{$min}{
      &:nth-child(n+2){
        margin-top: #{$min}px;
        @include media-breakpoint-up('m'){
          margin-top: #{$max}px;
        }
      }
    }
  }
}