.footer{
  background: #CCD1D7;
  mix-blend-mode: normal;
  $c1:100px;
  $c2:176px;
  margin-top: #{$c1};
  @include media-breakpoint-up('m'){
    margin-top: #{$c2};
  }
  &__bgCanvas{
    clip-path: ellipse(50% 46% at 50% 50%);
    background: #CCD1D7;
    mix-blend-mode: normal;
    top: -70px;
    max-width: calc(100vw + 137px + 137px);
    @include media-breakpoint-up('m'){
      clip-path: ellipse(50% 46% at 50% 50%);
      max-width: inherit;
      top: -107px;
    }
    canvas{
      @include media-breakpoint-up('m'){
        width: 2194px !important;
      }
    }
  }
  &__content{
    &__top{
      margin-top: calc(0px - #{$c1});
      @include media-breakpoint-up('m'){
        margin-top: calc(0px - #{$c2});
      }
    }
    &__boxForm{
      background-color: rgb(1, 68, 82);
      border-radius: 10px;
      @include media-breakpoint-up('m'){
        border-radius: 10px;
        background-color: transparent;
        min-height: 202px;
      }
      &__title{
        @extend .fz-24;
        font-family: $font-BeVietnamPro-Bold;
      }
      $x:55px;
      &__input{
        width: 393px;
        @extend .fz-15;
        font-family: $font-BeVietnamPro-Medium;
        padding-left: 23px !important;
        padding-right: 110px !important;
        height: calc(#{$x} - 0px);
      }
      &__btnSubmit{
        line-height: calc(#{$x} - 8px);
        transform: translateY(-50%) !important;
        position: absolute;
        top: 50% !important;
        right: 3px !important;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3764 0.693215L0.657315 7.62914C-0.0557314 7.95214 -0.296903 8.59897 0.484971 8.95001L5.03067 10.4164L16.0216 3.52134C16.6217 3.08848 17.2361 3.2039 16.7074 3.68008L7.2677 12.356L6.97118 16.0276C7.24583 16.5945 7.74872 16.5972 8.0695 16.3154L10.6811 13.807L15.154 17.2068C16.1929 17.8311 16.7581 17.4283 16.9816 16.284L19.9154 2.18264C20.22 0.774161 19.7006 0.15357 18.3764 0.693215Z' fill='url(%23paint0_linear_1219_155)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1219_155' x1='20.2178' y1='8.46875' x2='0.0937985' y2='8.26022' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F79922'/%3E%3Cstop offset='1' stop-color='%23FF6B00'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        svg{
          visibility: hidden;
        }
      }
    }
    &__title{
      color: #333333;
      text-transform: uppercase;
      @extend .fz-24;
      font-family: $font-BeVietnamPro-Medium;
      line-height: 1.33;
    }
    &__nav{
      >li{
        >a{
          color: #333333;
          @extend .fz-18;
          font-family: $font-BeVietnamPro-Regular;
          &:before{
            content: ">";
            margin-right: 5px;
          }
          &:hover{
            color: #{$primary-color};
          }
        }
      }
    }
    &__listAddress{
      >li{
        color: #333333;
        @extend .fz-18;
        font-family: $font-BeVietnamPro-Light;
        padding-left: 34px;
        position: relative;
        &:before{
          content: "";
          width: 24px;
          height: 24px;
          display: flex;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &.maps{
          &:before{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2107 4.70155C16.8565 2.25676 14.7421 1.0923 12.055 1.004C10.6419 0.954336 9.32507 1.36824 8.13674 2.15742C6.18832 3.4488 5.12311 5.29206 5 7.68719C5.01071 8.03487 5.02676 8.37151 5.10706 8.70263C5.39611 9.86708 5.89927 10.9377 6.48808 11.9642C8.2545 15.0657 9.28224 17.7092 10.7329 20.9818C11.4287 22.5436 12.9703 22.1187 13.4307 20.9818C14.0462 19.4586 14.1694 18.5536 14.9723 17.1297C16.1124 15.1099 16.9742 12.9852 18.0341 10.9156C18.4302 10.143 18.7942 9.35384 18.928 8.4874C19.1475 7.14083 18.8531 5.87152 18.2107 4.70155ZM14.1051 10.281C12.0603 11.6772 9.34648 10.8494 8.36156 8.53155C8.18492 8.11765 8.11533 7.69822 8.11533 7.10772C8.0618 5.73907 9.0146 4.14968 10.6151 3.58677C12.5367 2.90797 14.6083 3.74129 15.4647 5.66181C16.1874 7.28432 15.6146 9.24899 14.1051 10.281Z' fill='%23F5821F'/%3E%3C/svg%3E%0A");
          }
        }
        &.phone{
          &:before{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.80836 5.00024C8.96117 5.00025 9.1112 5.04114 9.24287 5.11869C9.37455 5.19623 9.48307 5.3076 9.55719 5.44124L10.6044 7.32766C10.672 7.44935 10.7088 7.58566 10.7118 7.72479C10.7148 7.86393 10.6838 8.00169 10.6216 8.12616L9.61285 10.1445C9.61285 10.1445 9.90527 11.6477 11.1289 12.8718C12.353 14.0954 13.8511 14.3831 13.8511 14.3831L15.869 13.374C15.9935 13.3117 16.1313 13.2807 16.2705 13.2836C16.4098 13.2866 16.5461 13.3235 16.6679 13.3911L18.5603 14.4435C18.6936 14.5177 18.8047 14.6263 18.882 14.7579C18.9593 14.8894 19.0001 15.0393 19 15.1919V17.3639C19 18.4702 17.9725 19.2692 16.9243 18.9155C14.7716 18.1889 11.4299 16.806 9.31186 14.688C7.19423 12.5699 5.81088 9.22864 5.08474 7.07548C4.73109 6.0278 5.53002 5.00024 6.63635 5.00024H8.80793H8.80836Z' stroke='%23F5821F' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
        &.email{
          &:before{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 9.9H14.8M8.5 12.7H14.8M8.5 15.5H12M19 12C19 15.8661 15.8661 19 12 19H5V12C5 8.1339 8.1339 5 12 5C15.8661 5 19 8.1339 19 12Z' stroke='%23F5821F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
    &__line{
      &:before{
        left: 0;
      }
      &:after{
        right: 0;
      }
      &:before,&:after{
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        content: "";
        $x:5px;
        width: #{$x};
        height: #{$x};
        background: #828282;
        border-radius: 50%;
        display: flex;
      }
      hr{
        border-color: #828282;
      }
    }
    &__subnav{
      >li{
        &:nth-child(n+2){
          &:before{
            border-color: rgba(#0A142F,.7) !important;
            height: 13px;
          }
        }
        >a{
          color: rgba(#0A142F,.7) !important;
          //color: #0A142F !important;
          @extend .fz-14;
          text-transform: inherit !important;
        }
      }
    }
    &__desc{
      color: #333333;
      @extend .fz-18;
      line-height: (26/18);
      font-family: $font-BeVietnamPro-Light;
    }
    &__copyright{
      color: #333333;
      @extend .fz-13;
      line-height: 1.85;
      font-family: $font-BeVietnamPro-Light;
    }
  }
  $max:48;
  $min:20;
  &__item-#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:30;
  $min:15;
  &__item-#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:24;
  $min:20;
  &__item-#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:19;
  $min:15;
  &__item-#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
}