.item{
  $x:24;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:19;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:15;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:14;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:13;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:10;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:8;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:6;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:4;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:3;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:0;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
}