body{
  font-family: $font-BeVietnamPro-Regular;
  background: #{$primary-color};
  @include media-breakpoint-up('m'){
    background-color: #f5f5f5;
  }
}
#app{
  @include media-breakpoint-down('s'){
    background: #FFFFFF;
  }
}