body{
  font-family: $font-BeVietnamPro-Regular;
  background: #{$primary-color};
  @include media-breakpoint-up('m'){
    background: #FAFAFA;
  }
  &.blog{
    @include media-breakpoint-up('m'){
      //background-color: #f5f5f5;
    }
  }
  &.blog-detail{
    @include media-breakpoint-up('m'){
      //background-color: #FFFFFF;
    }
  }
}
#app{
  @include media-breakpoint-down('s'){
    background: #FAFAFA;
  }
}