.uk{
  &-height{
    &-min{
      &-small{
        min-height: 150px;
      }
      &-medium{
        min-height: 300px;
      }
      &-large{
        min-height: 450px;
      }
    }
  }
  &-background{
    &-muted{
      background-color: #f5f5f5;
    }
  }
}